.expert-card {
    border: 1px solid #e5e5e5;
    text-align: center;
    padding: 10px 12px;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 0 5px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 0 5px 1px rgb(0 0 0 / 5%);
    position: relative;
}

.expert-card .clickable {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.expert-card h4.title {
    margin-bottom: 2px;
}

.expert-card p.skills {
    padding: 6px 0;
}

.expert-card p.job {
    padding: 4px 0 0;
}

.expert-card .avatar-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.2rem 0;
}

.expert-card .avatar-cont .avatar {
    width: 150px;
    height: 150px;
}

.expert-card p.skills {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}