/* 2. Make nav sticky */

.user-info-tile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    margin: 0 auto;
}

.profile-details .navbar-items {
    background-color: #fff;
    z-index: 11;
}

.profile-details .navbar-items>ul {
    display: flex;
    background-color: #fff;
    z-index: 8;
}

.profile-details .navbar-items>ul li {
    flex: 1;
}

.user-info-tile .profile-head-info {
    text-align: center;
}

.user-info-tile .profile-head-info .ratings {
    justify-content: center;
}

.user-info-tile .img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #ddd;
    background-size: cover;
}

.user-info-tile .fa {
    width: 20px;
}

.user-info-tile .name {
    font-size: 40px;
}

ol {
    padding: 0;
}

main.profile-details>nav {
    position: sticky;
    top: 91px;
    align-self: start;
    z-index: 99;
}

main.profile-details .section-nav li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

main.profile-details .section-nav li a i {
    font-size: 1.2rem;
}

main.profile-details .section-nav li.active a {
    color: #333;
    font-weight: 500;
    border-color: #1dbf73;
}

main.profile-details li {
    list-style: none;
}

main.profile-details .section-nav a {
    padding: 0.4rem 0.3rem;
    border-bottom: 2px solid #ededf0;
}

main.profile-details .body-profile-tab section>h2 {
    padding: 20px 0;
}

main.profile-details .courses-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

main.profile-details .centered-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

main.profile-details {
    padding-bottom: 20rem;
}

main.profile-details .course-tile {
    max-width: none;
    margin: 0;
}

main.profile-details .highlights-carousal a {
    margin: 0 10px 0 0;
    font-family: 'lato-regular';
}

main.profile-details .highlights-carousal .details-body {
    width: 90%;
    margin: 0 auto;
}

.teacher-details-tile .details-body {
    margin: 0 0 20px 10px;
}

.teacher-details .fa.fa-map-marker {
    margin-right: 5px;
}

ul {
    padding: 0;
}

.bordered-box ul li {
    padding: 10px 0;
}

.bordered-box ul li:last-child {
    padding-bottom: 0;
}

.bordered-box ul li i {
    font-size: 18px;
    width: 25px;
}

ul li {
    list-style: none;
}

main.profile-details h2 {
    font-size: 16px;
    font-family: 'lato-bold';
    color: #404145;
    text-transform: capitalize;
}

.bordered-box {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}

.bordered-box:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.bordered-box:first-child {
    padding-top: 0;
}

.box:first-child {
    border-bottom: none;
    border-top: none;
    margin-bottom: 0;
}

.teacher-details .profile .head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teacher-details .profile .img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ddd;
}

.teacher-details .profile img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.ratings {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.teacher-details .ratings {
    justify-content: center;
}

.teacher-details .profile-head-info {
    text-align: center;
}

.name {
    text-transform: capitalize;
    font-family: 'lato-bold';
    padding: 12px 0 7px;
    color: #0e0e0f;
}

.teacher-details .profile .head p:nth-child(2) {
    color: #62646a;
}

.ratings>p {
    padding: 5px 0 0;
}

.user-stats {
    padding: 15px 0 0 0;
    border-top: 1px solid #ddd;
}

.align-stats:first-child {
    margin-bottom: 15px;
}

.align-stats:last-child {
    margin-bottom: 0;
}

.align-stats {
    display: FLEX;
    margin-bottom: 15px;
    align-items: center;
    justify-content: space-between;
}

.align-stats i {
    font-size: 18px;
    width: 25px;
}

.align-stats p:nth-child(2) {
    color: #62646a;
    font-family: 'lato-bold';
}

.additiona-desc-description {
    display: flex;
    flex-direction: column;
}

.additiona-desc-description p {
    text-align: justify;
}

.additiona-desc-description.show-more-button p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-align: justify;
}

.additiona-desc-description button {
    align-self: center;
    background: none;
    border: none;
    color: #4a73e8;
    text-decoration: none;
    padding: 10px 0 0px;
    border-bottom: 1px solid #4a73e8;
    outline: none;
}

.additional-career-info .edu-tile p span.bold {
    font-family: 'lato-semibold';
}

.additional-career-info .edu-tile p:nth-child(2) {
    font-size: 14px;
}

.additional-career-info .edu-tile {
    margin: 10px 0;
}

.additional-career-info .edu-tile:first-child {
    margin-top: 0;
}

.additional-career-info .edu-tile:last-child {
    margin-bottom: 0;
}

/* Sidebar Navigation */

.section-nav {
    padding-left: 0;
}

.section-nav a {
    text-decoration: none;
    display: block;
    padding: .125rem 0;
    color: #ccc;
    transition: all 50ms ease-in-out;
    /* 💡 This small transition makes setting of the active state smooth */
}

.section-nav a:hover, .section-nav a:focus {
    color: #666;
}

/** page layout **/

main.profile-details {
    display: block;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
}

main.profile-details .courses-container .global-link-btn {
    align-self: center;
}

.intro-details-modal .profile-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-details-modal .profile-picture input[type="file"] {
    color: transparent;
    display: none;
}

.intro-details-modal .profile-picture .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 4px 8px;
    margin-top: 12px;
    cursor: pointer;
}

.general-details-modal .avatar {
    width: 150px;
    height: 150px;
}

.general-details-modal .btn-holder.delete-variation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 10px;
}

.general-details-modal .btn-holder.delete-variation.justify-center {
    justify-content: center;
}

.general-details-modal .modal-dialog {
    max-width: 744px;
    max-height: calc(100vh - 64px);
}

.general-details-modal .modal-body {
    padding: 1rem;
}

.general-details-modal .btn-holder {
    text-align: center;
}

.date-range-error .invalid-feedback {
    display: block;
}

.highights-modal .input-group-text {
    cursor: pointer;
}

.highights-modal .form-row .relative-row {
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
}

.highights-modal .form-row .relative-row.last-row {
    border-bottom: none;
}

.general-details-modal .btn-holder button:first-child {
    margin-right: 15px;
}

.general-details-modal .relative-row .col-md-1 {
    margin-bottom: 0;
    margin-top: 8px;
}

/** enlarge the sections for this demo, so that we have a long scrollable page **/

main.profile-details section {
    padding-top: 100px;
    padding-bottom: 2rem;
}

main.profile-details section:last-child {
    padding-top: 100px;
    padding-bottom: 20rem;
}

.edit-icon, .add-icon {
    font-size: 1rem;
    cursor: pointer;
}

.profile-info .edit-profile {
    text-align: right;
}

main.profile-details .section-nav {
    margin-bottom: -100px;
}

.user-feedbacks {
    margin: 40px 0;
}

.user-feedbacks .feedback-head {
    margin-bottom: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
}

.user-feedbacks .feedback-head .inner {
    max-width: 300px;
}

.user-feedbacks .feedback-head .inner .cont {
    margin-bottom: 10px;
}

.user-feedbacks .feed-tile {
    margin-bottom: 20px;
}

@media screen and (min-width: 1025px) {
    main.profile-details .section-nav {
        padding-top: 120px;
        margin-bottom: 0;
    }
    main.profile-details .courses-container {
        grid-template-columns: 1fr 1fr 1fr 0.3fr;
    }
    main.profile-details .section-nav li a i {
        font-size: 2rem;
    }
    main.profile-details .courses-container {
        padding: 0 4px;
    }
    .profile-details .navbar-items>ul {
        flex-direction: column;
    }
    main.profile-details .section-nav a {
        padding: 2.4rem 1.6rem;
        border-left: 4px solid #ededf0;
        border-bottom: none;
    }
    main.profile-details .body-profile-tab section>h2 {
        position: sticky;
        top: 81px;
        background-color: #fff;
        z-index: 9;
    }
    main.profile-details {
        display: flex;
    }
    main.profile-details .section-nav {
        width: 15%;
        max-width: 200px;
    }
    main.profile-details .body-profile-tab {
        width: 80%;
        padding: 0 3rem;
    }
    .teacher-details-tile .details-body {
        margin: 0 0 20px 10px;
    }
    .user-info-tile {
        width: 60%;
        flex-direction: row;
        padding: 0 3rem;
    }
    .user-info-tile p.remarks {
        max-width: 200px;
        margin-bottom: 10px;
    }
    .user-info-tile .profile-head-info {
        text-align: left;
        max-width: 400px;
    }
    .user-info-tile .profile-head-info .ratings {
        justify-content: flex-start;
    }
    main.profile-details .highlights-carousal .details-body {
        width: 95%;
    }
}