.messaging-landing {
    height: calc(100vh - 360px);
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    -webkit-box-shadow: -1px 0px 12px 5px rgb(0 0 0 / 7%);
    -moz-box-shadow: -1px 0px 12px 5px rgb(0 0 0 / 7%);
    box-shadow: -1px 0px 12px 5px rgb(0 0 0 / 7%);
}

.messaging-landing .head {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #ccc;
}

.messaging-landing .head.content {
    flex-direction: row;
    align-items: center;
}

.messaging-landing .head.content .back-arrow {
    margin-right: 12px;
    cursor: pointer;
}

.messaging-landing .head.content p:last-child {
    font-size: 0.8rem;
}

.messaging-landing .heading {
    font-family: 'lato-bold';
    font-size: 1.2rem;
    margin: 0;
}

.messaging-landing .user-info-msg {
    display: none;
    transition: all 0.1s linear;
}

.messaging-landing .user-info-msg.display {
    display: block;
}

.messaging-landing .user-tile-msg {
    display: flex;
    cursor: pointer;
}

.messaging-landing .user-tile-msg:hover, .messaging-landing .user-tile-msg.active {
    background-color: #e6e9ec;
    font-weight: bold;
    font-family: 'lato-bold';
}

.messaging-landing .user-tile-msg .avatar-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
}

.messaging-landing .user-tile-msg:last-child .user-info-id {
    border: none;
}

.messaging-landing .user-tile-msg .user-info-id .name-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.messaging-landing .user-tile-msg .user-info-id .name-header p:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    padding-right: 10px;
}

.messaging-landing .user-tile-msg .user-info-id {
    padding: 20px 8px;
    border-bottom: 1px solid #e6e9ec;
    overflow: hidden;
    flex-grow: 1;
}

.messaging-landing .error-msg {
    padding: 0 20px;
    background-color: #dc3545;
    color: #fff;
    height: 0;
    box-sizing: border-box;
    transition: all 0.5s linear;
}

.messaging-landing .error-msg p {
    padding: 5px 0;
}

.messaging-landing .error-msg.show {
    height: auto;
}

.messaging-landing .user-info-msg {
    height: calc(100vh - 360px);
    overflow: auto;
    border: none;
    border-right: 1px solid #ccc;
    height: 100%;
    flex: 1;
}

.messaging-landing .message-body {
    flex-direction: column;
    transition: all 0.1s linear;
    flex: 0;
    overflow: hidden;
    display: flex;
    position: relative;
}

.messaging-landing .message-body .loader {
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 9;
}

.messaging-landing .message-body.display {
    flex: 1;
}

.messaging-landing .message-body .msg-content {
    flex: 1;
}

.messaging-landing .message-body .msg-send {
    position: relative;
}

.messaging-landing .message-body .msg-send textarea {
    min-height: 50px;
    border: none;
    border-top: 2px solid #e6e9ec;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    resize: none;
}

.messaging-landing .message-body .msg-send textarea:focus {
    border-top: 3px solid #1dbf73;
}

.messaging-landing .message-body .btn-hold {
    padding: 6px 8px;
    background-color: #e6e9ec;
    text-align: right;
}

.messaging-landing .msg-content {
    padding: 10px 20px;
    max-height: 100vh;
    overflow: auto;
}

.messaging-landing .ind-messages {
    display: flex;
    margin-bottom: 20px;
}

.messaging-landing .ind-messages>div:first-child {
    flex: 0 1 auto;
    margin-right: 12px;
}

@media screen and (min-width: 750px) {}

.messaging-landing .ind-messages>div:last-child {
    flex: 1;
}

@media screen and (min-width: 1025px) {
    .messaging-landing .head.content {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .messaging-landing .head.content .back-arrow {
        display: none;
    }
    .messaging-landing {
        height: calc(100vh - 100px);
    }
    .messaging-landing .message-body .btn-hold {
        padding: 20px 10px;
    }
    .messaging-landing .message-body .msg-send textarea {
        min-height: 200px;
    }
    .messaging-landing .user-info-msg, .messaging-landing .message-body {
        display: block;
    }
    .messaging-landing .message-body {
        flex: 1;
        overflow: auto;
    }
    .messaging-landing .user-info-msg {
        flex: 0 1 30%;
        height: calc(100vh - 100px);
    }
    .messaging-landing .message-body {
        display: flex;
    }
    .messaging-landing .msg-content {
        height: auto;
        max-height: 100vh;
    }
}