.cookie-banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    z-index: 99;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .2), 0 2px 20px rgba(0, 0, 0, .15);
    box-shadow: 0 0 1px rgba(0, 0, 0, .2), 0 2px 20px rgba(0, 0, 0, .15);
}

.cookie-banner-inner {
    padding: 10px 0;
    width: 95%;
    margin: 0 auto;
}

.cookie-banner-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cookie-banner-inner p {
    margin-right: 10px;
    font-size: 0.7rem;
    text-align: justify;
}

.cookie-banner-inner button {
    align-self: center;
    font-size: 0.7rem;
    min-width: 100px;
}

.static-page-modal h1 {
    margin-bottom: 30px;
}

.static-page-modal h4 {
    font-size: 1.1rem;
    font-weight: bold;
}

.static-page-modal ul {
    padding-left: 40px;
    margin: 20px 0;
}

.static-page-modal ul li {
    list-style: disc;
    margin-bottom: 10px;
}

.static-page-modal .modal-dialog {
    max-width: 944px;
}

.static-page-modal .modal-body {
    max-height: 70vh;
    overflow: auto;
}

@media screen and (min-width: 1025px) {
    .cookie-banner-inner {
        width: 80%;
    }
    .cookie-banner-inner p {
        font-size: 0.8rem;
    }
    .cookie-banner-inner button {
        font-size: 0.8rem;
    }
}