.confirmation-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    min-height: 600px;
}

.confirmation-tile i {
    font-size: 100px;
    color: #1dbf73;
    margin-bottom: 10px;
}

.confirmation-tile i+p {
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.confirmation-tile a {
    border-bottom: 1px solid;
    padding-bottom: 5px;
    color: #0056b3;
}

.confirmation-tile a:hover {
    text-decoration: none;
}