.courses {
    max-width: 1440px;
    margin: 50px auto;
    padding: 0 16px;
}

.course-header {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.filter {
    display: flex;
    align-items: center;
}

.course-header .form-group {
    margin-bottom: 0;
    border: none;
}

.course-header .form-group option {
    background-color: #fff;
    padding: 30px 15px;
}

.course-header .form-group .form-control {
    border: none;
}

h5 {
    color: #404145;
    font-size: 18px;
}

.filter p {
    font-size: 14px;
    margin-right: 3px;
}

.filter .form-control {
    font-size: 14px;
}

.courses .course-tile-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

@media screen and (min-width: 968px) {
    .courses .course-tile-container {
        grid-template-columns: 1fr 1fr;
    }
    .course-header {
        padding: 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width: 1025px) {
    .courses .course-tile-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .courses {
        padding: 0 32px;
        margin: 100px auto;
    }
    .course-header {
        margin-bottom: 20px;
    }
    h5 {
        font-size: 20px;
    }
    .filter p {
        font-size: 18px;
    }
    .filter .form-control {
        font-size: 18px;
        max-width: 150px;
    }
}