.modal-title.h4 {
    flex: 1;
    text-align: center;
    color: #404145;
}

.modal-header .close {
    position: absolute;
    right: 6%;
    top: 16px;
}

.register-modal .modal-header {
    align-items: center;
    font-family: 'lato-bold';
    border-bottom: none;
    margin-bottom: 10px;
}

.register-modal .modal-footer {
    justify-content: center;
    font-size: 12px;
    color: #b5b6ba;
    line-height: 1.1;
}

.register-modal .img-preview {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.register-modal .img-preview-id {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
}

.register-modal input[type="file"] {
    color: transparent;
}

.img-upload {
    position: relative;
}

.img-upload .uploader-loader {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 10;
}

.register-modal .form-file {
    position: relative;
}

.modal-content {
    position: absolute;
    top: 0;
    bottom: 0;
}

.register-modal .otp-genereting-intermediator button.resend-otp-btn, .register-modal .otp-genereting-intermediator button.resend-otp-btn:hover {
    width: auto;
    color: #404145;
    border: 1px solid #ddd;
    padding: 10px 15px;
}

.register-modal .otp-genereting-intermediator button.resend-otp-btn:disabled {
    cursor: not-allowed;
}

.register-modal .otp-genereting-intermediator button.resend-otp-btn i {
    margin-right: 5px;
}

.register-modal .verify-mob .spinner-border {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.register-modal .relative-row {
    position: relative;
}

.register-modal .close-icon {
    position: absolute;
    right: 0;
    top: 8px;
}

.register-modal .registration-completed i {
    font-size: 80px;
    color: #1dbf73;
}

.register-modal .modal-body button.add-btn {
    width: auto;
    padding: 10px 12px 7px;
    font-size: 14px;
}

.register-modal .modal-body button.add-btn i {
    margin-right: 6px;
}

.modal-footer a {
    color: #1dbf73;
}

.register-modal .btn-custom, .register-modal .btn-custom:hover {
    padding: 12px 24px;
    background-color: #1dbf73;
    color: #fff;
}

.g-sigin {
    display: flex;
    font-family: 'lato-semibold';
    align-items: center;
    width: 100%;
    border: 1px solid #e4e5e7;
    color: #7a7d85;
    border-radius: 4px;
    padding: 12px 30px 12px 16px;
}

.g-sigin img {
    width: 30px;
    height: 30px;
}

.g-sigin p {
    flex: 1;
}

.register-modal .btn-holder {
    justify-content: center;
    display: flex;
    margin: 50px 0 10px;
    align-items: center;
}

.register-modal .btn-holder>button {
    flex: 1;
}

.register-modal .btn-holder>button:first-child {
    margin-right: 30px;
}

.register-modal .modal-body button {
    width: 100%;
    padding: 12px 24px;
}

.register-modal .modal-body button.single-button {
    margin: 10px 0;
}

.register-modal .modal-dialog {
    max-width: 744px;
    max-height: calc(100vh - 64px);
}

.register-modal .btn-holder.custom {
    margin: 10px 0;
}

.register-modal .btn-holder.custom button, .register-modal .btn-holder.custom button:hover {
    background-color: transparent;
    color: #1d1d1d;
    border: 1px solid #1d1d1d;
}

.register-modal .btn-holder.custom button i {
    font-size: 1.1rem;
    margin-right: 4px;
}

@media screen and (min-width: 1025px) {
    .register-modal .modal-dialog {
        max-width: 550px;
    }
    .modal-content {
        position: relative;
        top: auto;
        bottom: auto;
    }
    .modal-body {
        padding: 0 36px 24px;
    }
}