.lo-tc-slot-book {
    max-width: none;
    margin-top: 20px;
    margin: 20px 10px 0;
    border: 1px solid #ddd;
    padding: 20px 24px;
    align-self: flex-start;
    background-color: #fff;
    -webkit-box-shadow: 0px 8px 29px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 8px 29px -14px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 8px 29px -14px rgba(0, 0, 0, 0.75);
}

.lo-tc-slot-book .fa.fa-info-circle {
    cursor: pointer;
}

.lo-tc-slot-book .bold {
    font-size: 1.1rem;
    font-weight: bolder;
    text-transform: uppercase;
}

.lo-tc-slot-book .info-tooltip {
    position: absolute;
    width: 100%;
    text-align: right;
    top: 0;
    right: 24px;
}

.lo-tc-slot-book .selection-course {
    display: flex;
}

.lo-tc-slot-book .selection-course>div:first-child {
    margin-right: 12px;
}

.lo-tc-slot-book .selection-course>div input {
    margin-right: 5px;
}

.lo-tc-slot-book .selection-course>div input, .lo-tc-slot-book .selection-course>div label {
    cursor: pointer;
}

.lo-tc-slot-book+p.slot-book-warning {
    margin: 25px 20px 0;
    max-width: 380px;
    text-align: justify;
}

.lo-tc-slot-book-cont.fixed-price {
    position: absolute;
    right: 32px;
    z-index: 5;
    background-color: #fff;
}

.lo-tc-slot-book .price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.lo-tc-slot-book .price p:last-child {
    font-family: 'lato-semibold';
    font-size: 18px;
}

.lo-tc-slot-book .desc {
    padding: 32px 0;
}

.lo-tc-slot-book .btn-custom, .lo-tc-slot-book .btn-custom:hover {
    background: #1dbf73;
    border-color: #1dbf73;
    color: #fff;
    width: 100%;
}

@media screen and (min-width: 1025px) {
    .lo-tc-slot-book {
        max-width: 400px;
        margin-top: 15px;
        padding: 20px 24px;
    }
    .lo-tc-slot-book.no-sticky {
        margin-top: 125px;
    }
    .sticky-div {
        position: sticky;
        top: 100px;
    }
    .lo-tc-slot-book p.slot-book-warning {
        margin: 25px auto 0;
        font-size: 12px;
    }
}