.accounts-landing .account-tabs {
    display: flex;
    position: sticky;
    top: 80px;
    background: #fff;
    z-index: 9;
}

.accounts-landing hr {
    width: 98%;
    margin: 0 auto;
    margin-top: 20px;
}

.accounts-landing .t-history {
    margin: 20px 0 18px;
}

.accounts-landing .account-tabs li {
    padding: 1.2rem 0.9rem 0.7rem;
    border-bottom: 3px solid #ccc;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.accounts-landing .account-tabs li.active {
    color: #1dbf73;
    font-family: 'lato-bold';
    border-bottom: 3px solid #37AD1C;
}

.accounts-landing .account-tabs li:first-child {
    padding-left: 0;
}

.accounts-landing .account-tabs li.active .monthly-sales-report {
    color: #5A5858;
}

.accounts-landing .monthly-sales-report {
    display: flex;
    align-items: center;
    flex-direction: column;
}